.btn-primary {
  background-color: #660000;
}

.btn-group-lg>.btn, .btn-lg {
  border-radius: 0;
}

.container {
  color: #a09298
}

.col-md-4 {
  height: 50px;
}

.charcoal {
  background-color: #373737;
}

.silk {
  background-color: #DCD0C0;
}

.paleGold {
  background-color: #C0B283;
}

body {
  background-color: #F4F4F4;
  font-family: 'Encode Sans Condensed', sans-serif;
}

.contact-page {
  background-color: #d8e6ad;
}
